<%= form_for [@client, @pet] do |pet| %>
    <p>
        <%= pet.label :name %>
        <%= pet.text_field :name %>
    </p>
    <p>
        <%= pet.label :description %>
        <%= pet.text_area :description %>
    </p>
    <p>
        <%= pet.label :notes %>
        <%= pet.text_area :notes %>
    </p>

    <%= pet.submit %>
<% end %>

<% if @pet.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h3>
 
    <ul>
    <% @pet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>