<h3><%= @pet.name %></h3>
<p>
    <strong>Owner: </strong><%= link_to @pet.client.name, client_path(@client) %>
</p>
<p>
    <strong>Description: </strong><%= @pet.description %>
</p>
<p>
    <%= render partial: "notes/form", locals: {notable: @pet} %>
    <%= render partial: "notes/notes", locals: {notable: @pet} %>
</p>
<br>
<%= link_to("All Pets", client_pets_path) %> |
<%= link_to("Edit Pet", edit_client_pet_path(@pet)) %> |
<%= link_to("Delete Pet", client_pet_path(@pet.client, @pet), data: {method: :delete, confirm: "Are you sure you want to delete this pet?"}) %>

