<%= form_for @client do |f| %>
    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </p>
    <p>
        <%= f.label :phone %>
        <%= f.text_field :phone %>
    </p>
    <p>
        <%= f.label :address %>
        <%= f.text_field :address %>
    </p>
    <p>
        <%= f.label :neighborhood %>
        <%= f.text_field :neighborhood %>
    </p>
    <p>
        <%= f.label "Fee Per Appointment" %>
        <%= f.text_field :base_fee %>
    </p>
    <p>
        <%= f.label "Client Notes" %>
        <%= f.text_area :client_notes %>
    </p>
    <h5>Enter Pet Info:</h5>
    <fieldset>
        <%= f.fields_for :pets do |pet| %>
            <%= pet.label :name %>
            <%= pet.text_field :name %><br>

            <%= pet.label :description %>
            <%= pet.text_area :description %><br>

            <%= pet.label :notes %>
            <%= pet.text_area :notes %><br>
        <% end %>
    </fieldset>
    <br>
    <br><%= f.submit %>

<% end %>
