<h1><%= @client.name %></h1>

<p>
    Neighborhood: <%= @client.neighborhood %>
</p>
<p>
    Address: <%= @client.address %>
</p>
<p>
    Phone: <%= @client.phone %>
</p>
<p>
    Email: <%= @client.email %>
</p>
<p>
    Fee Per Visit: $<%= @client.base_fee %>
</p>
<p>
    Client Notes: <%= @client.client_notes %>
</p>

<%= link_to("Edit Client", edit_client_path(@client)) %>
<%= link_to("Delete Client", client_path(@client), data: {method: :delete, confirm: "Are you sure you want to delete this client?"}) %>