<h1><%= @client.name %></h1>

<p>Neighborhood: <%= @client.neighborhood %>
<p>Address: <%= @client.address %>
<p>Phone: <%= @client.phone %>
<p>Email: <%= @client.email %>
<p>Fee Per Visit: $<%= @client.base_fee %>

</p>