<h2>Add an appointment for <%= @client.name %></h2>
<%= form_for [@client, @appointment] do |a| %>
    <p>
        <%= a.label "Start Date:" %>
        <%= a.text_field :start_date %>
    </p>
    <p>
        <%= a.label "End Date:" %>
        <%= a.text_field :end_date %>
    </p>
    <p>
        <%= a.label "Fee:" %>
        <%= a.text_field :appt_fee %>
    </p>
    <p>
        <%= a.label "Notes:" %>
        <%= a.text_area :appt_note %>
    </p>
  
    <%= a.submit %>
<% end %>