<h1>Your Upcoming Appointments: </h1>

<% @appointments.each do |appt| %>
<fieldset>
    <h4>Appointment for: <%= appt.client.name %><h4>
    <%= appt.client.start_date %> to <%= appt.client.end_date %>
    <%= appt.pets.pluck(:name).join(', ') %>
    <%= appt.appt_note %>
    <%= appt.appt_fee %>
    <%= link_to "Edit appointment", edit_client_appointment_path(@client, @appointment) %>
    <%= link_to "Delete appointment", [@client, appointment], method: :delete, data: { confirm: 'Are you sure?' } %>
</fieldset>
    <% end %>
