<h2>Your Upcoming Appointments:</h2>

<% @appointments.each do |appt| %>
<fieldset>
    <h4>Appointments for <%= appt.client.name %></h4>
    <p>
        <%= appt.start_date %> to <%= appt.end_date %> 
    </p>
    <p>
        <%= appt.pets.pluck(:name).join(', ') %>
    </p>
    <p>
        $<%= appt.appt_fee %> per day
    </p>
    <p>
        <%= appt.appt_note %> 
    </p>
        <%= link_to "Edit", edit_client_appointment_path(@client, appt) %> |
        <%= link_to "Delete", [@client, appt], method: :delete, data: { confirm: 'Are you sure?' } %>
</fieldset>
<% end %>
